.ali__info{
    text-align: center;
}

.ali__heading{
    margin-top: 150px;
    margin-left: 40px;
}

.ali__img--1{
    margin-left: 600px;
    margin-top: -150px;
}

.ali__img--2{
    margin-top: -450px;
    margin-right: 600px;
}

.ali__img--3{
    margin-top: -400px;
    background-image: url(../../img/background__shape.png);
    background-size: contain;
}

.ali__img--4{
    margin-top: -150px;
    margin-right: 400px;
}

.ali__img--5{
    margin-left: 300px;
    margin-top: -450px;
}

@media only screen and (max-width: 734px){
    .ali__info{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 0;
        padding: 0;
    }

    
    .ali__img--1{
        margin: 0;
        padding: 0;
    }
    
    .ali__img--2{
        margin: 0;
        padding: 0;
    }
    
    .ali__img--3{
        margin: 0;
        padding: 0;
        background-image: none;
    }
    
    .ali__img--4{
        margin: 0;
        padding: 0;
    }
    
    .ali__img--5{
        margin: 0;
        padding: 0;
    }
}

@media only screen and (max-width: 480px){
    .ali__info{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}